*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  background-color: beige;
}

.App {
  max-width: 550px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  min-height: 100vh;
  transition: all 0.4s;
  color: black;
  background: black;
}

main {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #a626d3 100%, #672280 1.18%);
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
  color: black;
}

#toggle {
  position: absolute;
  height: 20px;
  width: 40px;
  right: 60px;
  top: 20px;
  border: solid 2px white;
  border-radius: 20px;
}

#toggle:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1px;
  border: solid 2px white;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  transition: 0.4s;
}

#toggle.active {
  border-color: black;
}

#toggle.active:before {
  left: 21px;
  background-color: black;
  border-color: black;
}

.night {
  color: white;
  background: white;
}

.night--text {
  color: white;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #a818da 100%, #711f8d 1.14%);
  color: black;
  border: none;
  cursor: pointer;
}

.form--button.night--text {
  color: white;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.download--button {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #a818da 100%, #711f8d 1.14%);
  color: black;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.download--button.night--text {
  color: white;
}
